---
---

@import "{{ site.theme }}";
#winmac {
  display: flex;
  justify-content: space-around;
}

#winmac > a > span {
    display: block;
}

#winmac > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 0;
    padding: 5rem;
    
    width: 400px;
    height: 50px;

    font-size: 30pt;
    color: white;
    text-decoration: none;
}

#win {
    background-color: hsl(211, 63%, 57%);
}
#mac {
    background-color: hsl(51, 63%, 57%);
}


img, iframe {
    display: block;
    margin: 0 auto;
}
